#	$OpenBSD: sshd_config,v 1.103 2018/04/09 20:41:22 tj Exp $

Port 4242
ChallengeResponseAuthentication no
UsePAM yes
X11Forwarding yes
PrintMotd no
AcceptEnv LANG LC_*

# override default of no subsystems
Subsystem	sftp	/usr/lib/openssh/sftp-server